<form [formGroup]="updateUsuarioForm" (ngSubmit)="updateUsuario()" >
  <div style="margin-bottom: 10px;">
    <h1>Atualização de Usuário</h1>
    <label for="nome">Nome</label>
    <input id="nome" formControlName="nome" />
    <div *ngIf="updateUsuarioForm.get('nome')?.invalid && updateUsuarioForm.get('nome')?.touched" class="error-message">
      Nome é obrigatório
    </div>
  </div>
  <div style="margin-bottom: 10px;">
    <label for="senha">Senha</label>
    <input id="senha" type="password" formControlName="senha" />
    <div *ngIf="updateUsuarioForm.get('senha')?.invalid && updateUsuarioForm.get('senha')?.touched" class="error-message">
      Senha é obrigatória
    </div>
  </div>
  <div style="margin-bottom: 10px;">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    <div *ngIf="updateUsuarioForm.get('email')?.invalid && updateUsuarioForm.get('email')?.touched" class="error-message">
      Email inválido
    </div>
  </div>
  <div style="margin-bottom: 10px;">
    <label for="departamento">Departamento</label>
    <select id="departamento" formControlName="departamento">
      <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nome}}</option>
    </select>
    <div *ngIf="updateUsuarioForm.get('departamento')?.invalid && updateUsuarioForm.get('departamento')?.touched" class="error-message">
      Departamento é obrigatório
    </div>
  </div>

  <div *ngIf="updateUsuarioForm.invalid && (updateUsuarioForm.dirty || updateUsuarioForm.touched)" class="error-message">
    Por favor, corrija os erros no formulário antes de enviar.
  </div>

  <button type="submit">Salvar</button>
</form>
